.jumbotron {
  padding-top: 6rem;
  background-color: #282a2c;
  color: azure;
}

#About {
  background-color: #0ba59d;
  color: rgb(0, 0, 0);
}

#projects {
  background-color: #282a2c;
}

#contact {
  background-color: #0ba59d;
}

section {
  padding-top: 6rem;
}
